<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <button onclick="change_to_english()">English</button>
    <button onclick="change_to_hindi()">Hindi</button>
    <div id="hindi">
    <p><h3>भूमि की तैयारी</h3>

        चने की खेती दोमट भूमि से मटियार भूमि में सफलतापूर्वक की जा सकती है। चने की खेती हल्की से भारी भूमि में भी की
        जाती है, किन्तु अधिक जलधारण एवं उचित जलनिकास वाली भूमि सर्वोत्तम रहती है। मृदा का पी-एच मान 6-7.5 उपयुक्त रहता
        है। असिंचित अवस्था में माSनसून शुरू होने के पूर्व गहरी जुताई करने से रबी के लिए भी नमी संरक्षण होता है। एक जुताई
        मिट्‌टी पलटने वाले हल तथा 2 जुताई देसी हल से की जाती है, पिफर पाटा चलाकर खेत को समतल कर लिया जाता है।

        <h3>किस्में</h3>
        प्रमुख किस्में

        समय पर बुआई के लिए-जी.एनजी. 1581 (गणगौर), जी.एन.जी. 1958 (मरुधर), जी.एन.जी. 663, जी.एन.जी. 469, आर.एस.जी. 888,
        आर.एस.जी. 963, आरएस.जी. 973, आर.एस.जी. 986, देरी से बुआई के लिए-जी.एन.जी. 1488, आर.एसजी. 974, आर.एस.जी. 902,
        आर.एस.जी. 945 प्रमुख हैं।

        काबुली चना-
        · एल 550 : यह 140 दिनों में पकने वाली किस्म है। इसकी उपज 10 से 13 क्विंटल/हेक्टेयर है। इसके 100 दानों का वजन 24
        ग्राम है।

        · सी-104 : यह किस्म 130-135 दिनों में पककर तैयार हो जाती है। यह औसतन 10 से13 क्विंटल/हेक्टेयर उपज देती है। इसके
        100 दानों का वजन 25-30 ग्राम होता है।

        अन्य किस्में: जी.एन.जी. 1669 (त्रिवेणी), जी.एन.जी. 1499, जी.एन.जी. 1992।

        <h3>चने की बुआई का समय</h3>
        10 अक्टूबर से 5 नवम्बर

        <h3>बीज की मात्रा</h3>
        मोटे दानों वाला चना 80-100 कि.ग्रा. प्रति हेक्टेयर, सामान्य दानों वाला चना 70-80 कि.ग्रा. प्रति हेक्टेयर काबुली
        चना (मोटा दाना) 100-120 कि.ग्रा./हेक्टेयर।

        <h3>बीजोपचार</h3>
        बीज को पहले रासायनिक फफूंदीनाशक से उपचारित करने के बाद जैविक कल्चर से छाया में उपचारित कर तुरंत बुआई करें, जिससे
        जैविक बैक्टीरिया जीवित रह सकें।
        फसल को उकठा रोग से बचाने के लिए बीज को बुआई के पूर्व फफूंदीनाशक वीटावैक्स पॉवर, कैप्टॉन, थीरम या प्रोवेक्स में
        से कोई एक 3 ग्राम दवा प्रति किलो बीज की दर से उपचारित करें। इसके पश्चात एक किलो बीज में राइजोबियम कल्चर तथा
        ट्राइकोडर्मा विरडी 5-5 ग्राम मिलाकर उपचारित करें।
        बीज की अधिक मात्रा को उपचारित करने के लिए, सीड ड्रेसिंग ड्रम का उपयोग करें, जिससे बीज एक समान उपचारित हो सके।
        <h3>उर्वरक</h3>
        अच्छी पैदावार के लिए 20-25 टन सड़ी गोबर की खाद खेत की तैयारी के समय खेत में मिलाएं। उर्वरकों का प्रयोग मिट्‌टी
        परीक्षण के आधार पर करें। नाइट्रोजन 20 कि.ग्रा. प्रति हेक्टेयर (100 कि.ग्रा. डाई अमोनियम फॉस्पेफट),फॉस्फोरस 50
        कि.ग्रा. प्रति हेक्टेयर, जिंक सल्फेट 25 कि.ग्रा. प्रति हेक्टेयर।

        <h3>देशी किस्में</h3>
        जे.जी. 315: यह किस्म 125 दिनों में पककर तैयार हो जाती है। औसत उपज 12 से 15 क्विंटल/हेक्टेयर है। इसके 100 दानों
        का वजन 15 ग्राम है एवं बीज का रंग बादामी है तथा देर से बोने के लिए उपयुक्त किस्म है।
        विजयः सर्वाधिक उपज देने वाली 90-105 दिनों में तैयार होने वाली यह किस्म है। यह सिंचित व असिंचित क्षेत्रों के लिए
        उपयुक्त है। इस किस्म में अधिक शाखायें व मध्यम ऊंचाई वाले पौधे होते हैं। उपज क्षमता 24-45 क्विंटल/हेक्टेयर है।
        जी.एन.जी.-2171 (मीरा) : राजस्थान, हरियाणा, पंजाब, दिल्ली जैसे उत्तरी- पश्चिमी मैदानी सिंचित क्षेत्रों के लिए
        अधिसूचित किस्म। दाना मध्यम आकार व सुनहरे रंग का, जड़ गलन, विल्ट व झुलसा रोग के प्रति सहनशील। लगभग 150 दिनों में
        पककर तैयार होती है और उपज 24 क्विंटल प्रति हेक्टेयर है।
        जी.एन.जी-2144 (तीज): राजस्थान के उत्तर-पश्चिमी मैदानी क्षेत्रों के लिए अधिसूचित यह किस्म दोहरे फूल व 20 से 25
        प्रतिशत दोहरी फली वाली है। देरी से बुआई योग्य इस किस्म की दिसंबर के पहले सप्ताह में भी बुआई कर सकते हैं। बुआई के
        130 से 135 दिनों में तैयार होने के साथ ही इसकी औसत उपज 23 क्विंटल प्रति हेक्टेयर है।
        <h3>बुआई की विधि</h3>
        चने की बुआई कतारों में करें। 7 से 10 सें.मी. गहराई पर बीज डालें। कतार से कतार की दूरी 30 सें.मी. (देसी चने के
        लिए) तथा 45 सें.मी. (काबुली चने के लिए)।

        <h3>खरपतवार नियंत्रण</h3>
        फ्लूक्लोरेलिन 200 ग्राम (सक्रिय तत्व) का बुआई से पहले या पेंडीमेथालीन 350 ग्राम (सक्रिय तत्व) का अंकुरण से पहले
        300-350 लीटर पानी में घोल बनाकर एक एकड़ में छिड़काव करें। पहली निराई-गुड़ाई बुआई के 30-35 दिनों बाद तथा दूसरी
        55-60 दिनों बाद आवश्यकतानुसार करें।

       <h3> सिंचाई</h3>
        आमतौर पर चने की खेती असिंचित अवस्था में की जाती है। चने की फसल के लिए कम जल की आवश्यकता होती है। चने में जल
        उपलब्धता के आधार पर पहली सिंचाई फूल आने के पूर्व अर्थात बोने के 45 दिनों बाद एवं दूसरी सिंचाई दाना भरने की
        अवस्था पर अर्थात बोने के 75 दिनों बाद करनी चाहिए।

        <h3>अन्य समस्याएं</h3>
        ·सूत्राकृमि सूत्राकृमि के प्रकोप से पौधा अविकसित रह जाता है। जड़ें छोटी रह जाती हैं और उत्पादन प्रभावित होता है।
        नियंत्रण के लिए गर्मियों में गहरी जुताई करें, प्रतिरोधी किस्म का चयन करें। गैर-दलहनी फसलों जैसे मक्का, धान या
        मूंगफली को फसलचक्र में शामिल करें। रासायनिक नियंत्रण प्रकाेप के आधार पर 10-15 कि.ग्रा. कार्बाेफ्यूरॉन प्रति एकड़
        का प्रयोग करें।
        उपज


        चने की शुद्ध फसल से प्रति हेक्टेयर लगभग 20-25 क्विंटल दाना एवं इतना ही भूसा प्राप्त होता है। काबुली चने की
        पैदावार देसी चने से तुलना में थोड़ी कम होती है।

        <h3>पौध संरक्षण</h3>

        माहूं व चेंपा माहूं व चेंपा, पौधे का रस चूसकर इसे कमजोर करते हैं। इनके नियंत्रण के लिए 5 ग्राम थायोमेथाक्जम 25
        डब्ल्यूजी जैसे एकतारा, अनंत या 5 ग्राम इमिडाक्लोप्रिड 70 डब्ल्यू.जी. एडमायर या एडफायर का प्रति 15 लीटर पानी में
        मिलाकर छिड़काव करें।

        कटुआ सूंडी

        इस कीट की रोकथाम के लिए 200 मि.ली. फेनवालरेट (20 ई.सी.) या 125 मि.ली. साइपरमैथ्रीन (25 ई.सी.) को 250 लीटर पानी
        में मिलाकर प्रति हेक्टेयर की दर से आवश्यकतानुसार छिड़काव करें।

        फलीछेदक
        उकठा रोग निरोधक किस्मों का प्रयोग करना चाहिए।
        प्रभावित क्षेत्रों में फसलचक्र अपनाना लाभकर होता है।
        प्रभावित पौधे को उखाड़कर नष्ट करना अथवा गड्‌ढे में दबा देना चाहिए
        बीज को कार्बेन्डाजिम 2.5 ग्राम या ट्राइकोडर्मा विरडी से 4 ग्राम/कि.ग्रा. बीज की दर से उपचारित कर बोना चाहिए।
        पौधों का पीलापन व मुरझान
        पीलापन तथा मुरझान की समस्या के नियत्रांण के लिए 45 ग्राम कॉपर आक्सीक्लारोइड या 30 ग्राम कार्बेन्डेजिम प्रति 15
        लीटर पानी में मिलाकर जमीन में दें अथवा 100 ग्राम थायोफैनेट मिथाइल, 70 प्रतिशत डब्ल्यू.पी. प्रति एकड़ 200 लीटर
        पानी में छिड़कें।

        अल्टरनेरिया झुलसा रोग
        फूल व फली बनते समय अल्टरनेरिया झुलसा रोग हो सकता है। इससे पत्तियों पर छोटे, गोल-बैंगनी धब्बे बनते हैं। यह नमी
        अधिक होने से पूरी पत्ती पर फैल जाता है। नियंत्रण केलिए 3 ग्राम मैन्कोजेब, 75 प्रतिशत डब्ल्यू.पी. या 2 ग्राम
        मेटालैक्सिल 8 प्रतिशत मैन्कोजेब, 64 प्रतिशत (संचार या रिडोमिल) प्रति लीटर पानी में छिड़कें।

        <h3>फसल कटाई से जुड़ी जानकारी</h3>
        · परिपक्व अवस्थाः जब पौधे के अधिकतर भाग और फलियां लाल भूरी हो कर पक जाएं तो कटाई करें। खलिहान की सफाई करें और
        फसल को धूप में कुछ दिनों तक सुखायें तथा गहाई करें। भंडारण के लिए दानों में 12-14 प्रतिशत से अधिक नमी नहीं होनी
        चाहिए

        · भंडारणः चने के भंडारण हेतु भंडार गृह की सफाई करें तथा दीवारों एवं फर्श की दरारों को मिट्‌टी या सीमेंट से भर
        दें। चूने की पुताई करें तथा 15 दिनों के अंतराल पर 2-3 बार 10 मि.ली. मेलाथियान 50 प्रतिशत ई.सी. प्रति लीटर पानी
        के घोल का 3 लीटर/100 वर्ग मीटर की दर से दीवार तथा फर्श पर छिड़काव करें।

        · अनाज भंडारण के लिए बोरियों को मेलाथियान 10 मि.ली./लीटर पानी के घोल में डुबोकर सुखाएं। इसके बाद ही अनाज को
        बोरियो में भरें।


        · भंडारण कीट के नियंत्रण के लिए एल्यूमिनियम फॉस्फाइड की गोली 3 ग्राम/टन की दर से भंडारगृह में धूम्रित करें। बीज
        के लिए फसल की गहाई अलग से करके तथा अच्छी तरह सुखाकर भंडारण के लिए मैलाथियान 5 प्रतिशत डस्ट 250 ग्राम/100
        कि.ग्रा. अनाज में मिलाएं।</p>
        </div>
        <div id="english">
            <p><h3>Land preparation</h3>

         Cultivation of gram can be done successfully from loamy soil to Matiar soil. Cultivation of gram was also done in light to heavy soil.
         It goes, but the land with high water holding and proper drainage remains the best. P-H value of soil is 6-7.5 suitable
         Is. In non-irrigated condition, deep plowing before the onset of monsoon also conserves moisture for rabi. a plow
         Soil-turning plow and 2 plowing is done with indigenous plow, then the field is leveled by running the plough.

         <h3>varieties</h3>
         major varieties

         For timely sowing - G.N.G. 1581 (Gangaur), G.N.G. 1958 (Marudhar), G.N.G. 663, G.N.G. 469, R.S.G. 888,
         R.S.G. 963, R.S.G. 973, R.S.G. 986,For late sowing-G.N.G. 1488, R.S.G. 974, R.S.G. 902
         R.S.G. 945 are prime.

         Chickpea-
         L 550: It is a variety which matures in 140 days. Its yield is 10 to 13 quintals/hectare. Its 100 grains weigh 24
         is gram.

         · C-104: This variety gets ready after ripening in 130-135 days. It gives an average yield of 10 to 13 q/ha. Its
         The weight of 100 grains is 25-30 grams.

         Other Varieties: G.N.G. 1669 (Triveni), G.N.G. 1499, G.N.G. 1992.

         <h3>Sowing time of gram</h3>
         10 October to 5 November

         <h3>seed quantity</h3>
         Coarse grain gram 80-100 kg. Per hectare, 70-80 kg of normal grain gram. Kabuli per hectare
         Gram (coarse grain) 100-120 kg/ha.

         <h3>seed treatment</h3>
         After first treating the seed with chemical fungicide, treat it with organic culture in the shade and sow immediately, so that
         Biological bacteria can survive.
         To protect the crop from wilt disease, before sowing the seed should be treated with fungicide Vitavax Power, Capton, Thiram or Provax.
         Treat any one of the above at the rate of 3 grams of medicine per kg of seed. After this rhizobium culture in one kg seed and
         Treat by mixing 5-5 grams of Trichoderma Virdi.
         To treat larger quantities of seed, use a seed dressing drum to ensure uniform seed treatment.
         <h3>fertilizer</h3>
         For good yield, mix 20-25 tonnes of well decomposed cow dung in the field at the time of field preparation. use of fertilizers
         Do it on trial basis. Nitrogen 20 kg Per hectare (100 kg diammonium phosphate), Phosphorous 50
         Kg per hectare, zinc sulphate 25 kg. per hectare.

         <h3>native varieties</h3>
         JG 315: This variety matures in 125 days. The average yield is 12 to 15 q/ha. 100 grains of it
         Its weight is 15 grams and seed color is almond and it is a suitable variety for late sowing.
         Vijay: This is the highest yielding variety ready in 90-105 days. for irrigated and non-irrigated areas
         is applicable. This variety has more branches and plants of medium height. The yield potential is 24-45 q/ha.
         GNG-2171 (Mira) : For irrigated areas of north-west plains like Rajasthan, Haryana, Punjab, Delhi
         notified variety. Seeds of medium size and golden colour, tolerant to root rot, wilt and blight. in about 150 days
         It is ready after ripening and the yield is 24 quintals per hectare.
         G.N.G-2144 (Teej): This variety, notified for the north-western plains of Rajasthan, has double flowers and 20 to 25
         Percent is double pod. This late sown variety can be sown in the first week of December also. of sowing
         Being ready in 130 to 135 days, its average yield is 23 quintals per hectare.
         <h3>Sowing method</h3>
         Sow gram in rows. 7 to 10 cm Plant the seeds at depth. Row to row distance of 30 cm. (desi gram
         for) and 45 cm. (for Chickpeas).

         <h3>weed control</h3>
         Fluchloralin 200 gm (active ingredient) before sowing or Pendimethalin 350 gm (active ingredient) before germination
         Make a solution in 300-350 liters of water and spray it in one acre. First weeding after 30-35 days of sowing and second
         Do as required after 55-60 days.

        <h3> irrigation</h3>
         Generally gram is cultivated in non-irrigated condition. Gram crop requires less water. gram water
         Depending on the availability, first irrigation before flowering i.e. 45 days after sowing and second irrigation after seed filling.
         It should be done at stage i.e. 75 days after sowing.

         <h3>Other problems</h3>
         The plant remains underdeveloped due to the outbreak of nematode. Roots are stunted and production is affected.
         For control, do deep plowing in summer, choose a resistant variety. non-pulse crops such as maize, paddy or
         Include groundnut in the crop rotation. Depending on the chemical control outbreak, 10-15 kg. Carbafuron per acre
         Use
         Yield


         About 20-25 quintals of grains and the same amount of straw are obtained per hectare from pure gram crop. Chickpeas
         The yield is slightly less as compared to desi gram.

         <h3>Plant Protection</h3>
         Mahu and Champa Mahu and Champa weaken the plant by sucking its juice. For their control, 5 grams Thiomethaxam 25
         WG like Ektara, Anant or 5 grams of Imidacloprid 70 WG. Admire or Adfire per 15 liters of water
         Mix and spray.

         cutworm

         For the prevention of this pest, 200 ml. Fenvalerate (20 EC) or 125 ml. Cypermethrin (25 EC) in 250 liters of water
         Mixing in and spraying at the rate of per hectare as per requirement.

         pod borer
         Disease resistant varieties should be used.
         It is beneficial to adopt crop rotation in the affected areas.
         The affected plant should be uprooted and destroyed or buried in a pit.
         Seed should be treated with Carbendazim at 2.5 gm or Trichoderma virdi at 4 gm/kg. Sow after treating at the rate of seed.
         yellowing and wilting of plants
         To control the problem of yellowing and wilting, 45 grams of copper oxychloride or 30 grams of carbendazim per 15
         Mix it in a liter of water and give it in the ground or 100 grams of thiophanate methyl, 70 percent W.P. 200 liters per acre
         Sprinkle in water.

         alternaria blight
         Alternaria can be blighted at the time of flower and pod formation. This causes small, roundish-purple spots to form on the leaves. this moisture
         Due to excess, it spreads over the entire leaf. For control, 3 g mancozeb, 75 percent w.p. or 2 grams
         Spray Metalaxyl 8% Mancozeb, 64% (Sanchar or Ridomil) per liter of water.

         <h3>Harvest information</h3>
         Maturity stage: Harvest when most of the plant parts and pods turn reddish brown and ripe. clean the barn and
         Dry the crop in the sun for a few days and thresh it. Grains for storage should not have more than 12-14 percent moisture
         Needed

         Storage: Clean the storage room for gram storage and fill the cracks in the walls and floor with soil or cement.
         Give Apply lime and 10 ml 2-3 times at an interval of 15 days. Malathion 50% EC per liter of water
         Spray the solution at the rate of 3 liters / 100 square meters on the wall and floor.

         For grain storage, dry the sacks by dipping them in Malathion 10ml/Litre water solution. Only after this the grain
         Fill in the bags.


         For control of storage pest, fumigate aluminum phosphide pellet at the rate of 3 gm/tonne in the storehouse. Seed
         For threshing the crop separately and drying it well for storage Malathion 5% dust 250 gm/100
         Kg Mix in cereal.</p>

        </div>
        <script>
            document.getElementById("hindi").style.display="none";
            function change_to_english(){
                document.getElementById("hindi").style.display="none";
                document.getElementById("english").style.display="block";
            }
            function change_to_hindi(){
                document.getElementById("hindi").style.display="block";
                document.getElementById("english").style.display="none";
            }
        </script>
</body>

</html>