<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button onclick="change_to_english()">English</button>
    <button onclick="change_to_hindi()">Hindi</button>
    <div id="english">
        <p>
            <h3>Overview</h3>
            Harvesting is the process of gathering a ripe crop from the fields. Reaping is the cutting of grain or pulse for harvest, typically using a scythe, sickle, or reaper.[1] On smaller farms with minimal mechanization, harvesting is the most labor-intensive activity of the growing season. On large mechanized farms, harvesting uses the most expensive and sophisticated farm machinery, such as the combine harvester. Process automation has increased the efficiency of both the seeding and harvesting processes. Specialized harvesting equipment utilizing conveyor belts to mimic gentle gripping and mass-transport replaces the manual task of removing each seedling by hand.[2] The term "harvesting" in general usage may include immediate postharvest handling, including cleaning, sorting, packing, and cooling.

The completion of harvesting marks the end of the growing season, or the growing cycle for a particular crop, and the social importance of this event makes it the focus of seasonal celebrations such as harvest festivals, found in many religions.
        <h3>Etymology</h3>
        
         "Harvest", a noun, came from the Old English word hærf-est (coined before the Angles moved from Angeln to Great Britain)[3] meaning "autumn" (the season), "harvest-time", or "August". (It continues to mean "autumn" in British dialect, and "season of gathering crops" generally.) "The harvest" came to also mean the activity of reaping, gathering, and storing grain and other grown products during the autumn, and also the grain and other grown products themselves. "Harvest" was also verbified: "To harvest" means to reap, gather, and store the harvest (or the crop). People who harvest and equipment that harvests are harvesters; while they do it, they are harvesting
        <h3>Other uses</h3>
        Harvesting commonly refers to grain and produce, but also has other uses: fishing and logging are also referred to as harvesting. The term harvest is also used in reference to harvesting grapes for wine. Within the context of irrigation, water harvesting refers to the collection and run-off of rainwater for agricultural or domestic uses. Instead of harvest, the term exploit is also used, as in exploiting fisheries or water resources. Energy harvesting is the process of capturing and storing energy (such as solar power, thermal energy, wind energy, salinity gradients, and kinetic energy) that would otherwise go unexploited. Body harvesting, or cadaver harvesting, is the process of collecting and preparing cadavers for anatomical study. In a similar sense, organ harvesting is the removal of tissues or organs from a donor for purposes of transplanting.


In a non-agricultural sense, the word "harvesting" is an economic principle which is known as an exit event or liquidity event. For example, if a person or business was to cash out of an ownership position in a company or eliminate their investment in a product, it is known as a harvest strategy
        </p>
    </div>
    <div id="hindi"> 
        <h3>अवलोकन</h3>
             कटाई खेतों से पकी हुई फसल को इकट्ठा करने की प्रक्रिया है। फसल काटना फसल के लिए अनाज या दाल की कटाई है, आमतौर पर दराँती, दरांती या रीपर का उपयोग करना। [1] कम से कम मशीनीकरण वाले छोटे खेतों में कटाई बढ़ते मौसम की सबसे अधिक श्रम-गहन गतिविधि है। बड़े मशीनीकृत खेतों में, कटाई के लिए सबसे महंगी और परिष्कृत कृषि मशीनरी का उपयोग किया जाता है, जैसे कि कंबाइन हारवेस्टर। प्रक्रिया स्वचालन ने बोने और कटाई दोनों प्रक्रियाओं की दक्षता में वृद्धि की है। कन्वेयर बेल्ट का उपयोग करने वाले विशिष्ट कटाई उपकरण हाथ से प्रत्येक अंकुर को हटाने के मैन्युअल कार्य को प्रतिस्थापित करते हैं। [2] सामान्य उपयोग में "कटाई" शब्द में सफाई, छँटाई, पैकिंग और ठंडा करने सहित कटाई के तुरंत बाद की हैंडलिंग शामिल हो सकती है।

कटाई का पूरा होना बढ़ते मौसम के अंत, या किसी विशेष फसल के बढ़ते चक्र का प्रतीक है, और इस घटना का सामाजिक महत्व इसे कई धर्मों में पाए जाने वाले फसल उत्सव जैसे मौसमी उत्सवों का केंद्र बनाता है।
         <h3>व्युत्पत्ति विज्ञान</h3>
        
          "हार्वेस्ट", एक संज्ञा, पुराने अंग्रेजी शब्द hærf-est से आई है (एंगल्स से ग्रेट ब्रिटेन में स्थानांतरित होने से पहले गढ़ा गया) [3] जिसका अर्थ है "शरद ऋतु" (मौसम), "फसल-समय", या "अगस्त" . (इसका अर्थ ब्रिटिश बोली में "शरद ऋतु" और आम तौर पर "फसलों को इकट्ठा करने का मौसम" है।) "फसल" का अर्थ शरद ऋतु के दौरान अनाज और अन्य उगाए जाने वाले उत्पादों को काटने, इकट्ठा करने और भंडारण करने की गतिविधि से भी है। अनाज और अन्य उगाए गए उत्पाद स्वयं। "हार्वेस्ट" को भी क्रियाबद्ध किया गया था: "टू हार्वेस्ट" का अर्थ फसल (या फसल) को काटना, इकट्ठा करना और स्टोर करना है। फसल काटने वाले और फसल काटने वाले उपकरण हार्वेस्टर हैं; जब वे ऐसा करते हैं, वे फसल काट रहे होते हैं
         <h3>अन्य उपयोग</h3>
         कटाई आमतौर पर अनाज और उपज को संदर्भित करता है, लेकिन इसके अन्य उपयोग भी हैं: मछली पकड़ने और लॉगिंग को कटाई के रूप में भी जाना जाता है। फ़सल शब्द का उपयोग शराब के लिए अंगूर की कटाई के संदर्भ में भी किया जाता है। सिंचाई के संदर्भ में, जल संचयन का तात्पर्य कृषि या घरेलू उपयोगों के लिए वर्षा जल के संग्रह और बहाव से है। फसल के बजाय, शोषण शब्द का भी उपयोग किया जाता है, जैसा कि मछली पालन या जल संसाधनों के दोहन में होता है। ऊर्जा संचयन ऊर्जा (जैसे सौर ऊर्जा, तापीय ऊर्जा, पवन ऊर्जा, लवणता प्रवणता और गतिज ऊर्जा) को पकड़ने और संग्रहीत करने की प्रक्रिया है जो अन्यथा अप्रयुक्त हो जाएगी। बॉडी हार्वेस्टिंग, या कैडेवर हार्वेस्टिंग, शारीरिक अध्ययन के लिए लाशों को इकट्ठा करने और तैयार करने की प्रक्रिया है। इसी तरह, प्रत्यारोपण के प्रयोजनों के लिए अंग संचयन एक दाता से ऊतकों या अंगों को हटाना है।


एक गैर-कृषि अर्थ में, "कटाई" शब्द एक आर्थिक सिद्धांत है जिसे निकास घटना या तरलता घटना के रूप में जाना जाता है। उदाहरण के लिए, यदि किसी व्यक्ति या व्यवसाय को किसी कंपनी में स्वामित्व की स्थिति से नकद निकालना है या किसी उत्पाद में अपना निवेश समाप्त करना है, तो इसे हार्वेस्ट रणनीति के रूप में जाना जाता है।
         </p>
    </div>
    <script>
         document.getElementById("hindi").style.display="none";
        function change_to_english(){
            document.getElementById("english").style.display="block";
            document.getElementById("hindi").style.display="none";
        }
        function change_to_hindi(){
            document.getElementById("english").style.display="none";
            document.getElementById("hindi").style.display="block";

        }
    </script>
</body>
</html>