<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button onclick="change_to_english()">English</button>
    <button onclick="change_to_hindi()">Hindi</button>
    <div id="english">
    <p>
    <h3>Overview</h3>
    
    Intercropping is a multiple cropping practice that involves growing two or more crops in proximity. In other words, intercropping is the cultivation of two or more crops simultaneously on the same field. The most common goal of intercropping is to produce a greater yield on a given piece of land by making use of resources or ecological processes that would otherwise not be utilized by a single crop.
         <h3>Methods</h3>
         Mixed intercropping, (also known as maslin) is the most basic form in which multiple crops are freely mixed in the available space. Maslin is a common practice in Ethiopia, Eritrea, Georgia, and a few other places.[3]

Maslin has been practiced for thousands of years. In Medieval England, farmers mixed oat and barley, which they called dredge, or dredge corn, to make livestock feed. French peasants ground wheat/rye maslin to make pain de méteil, or bread of mixed grains. In and around Ukraine, the historic word for maslins—surjik or surzhyk—was stretched to describe dialect that mixes Russian, Moldovan, or other languages. The Turkish word mahlut came to mean impure
         <h5>Maslin</h5>
Mixed intercropping, (also known as maslin) is the most basic form in which multiple crops are freely mixed in the available space. Maslin is a common practice in Ethiopia, Eritrea, Georgia, and a few other places.[3]

Maslin has been practiced for thousands of years. In Medieval England, farmers mixed oat and barley, which they called dredge, or dredge corn, to make livestock feed. French peasants ground wheat/rye maslin to make pain de méteil, or bread of mixed grains. In and around Ukraine, the historic word for maslins—surjik or surzhyk—was stretched to describe dialect that mixes Russian, Moldovan, or other languages. The Turkish word mahlut came to mean impure
         

         Row cropping involves the component crops arranged in alternate rows. Variations include alley cropping, where crops are grown in between rows of trees, and strip cropping, where multiple rows, or a strip, of one crop are alternated with multiple rows of another crop. A new version of this is to intercrop rows of solar photovoltaic modules with agriculture crops. This practice is called agrivoltaics.
         <h5>Row crops</h5>
          Row cropping involves the component crops arranged in alternate rows. Variations include alley cropping, where crops are grown in between rows of trees, and strip cropping, where multiple rows, or a strip, of one crop are alternated with multiple rows of another crop. A new version of this is to intercrop rows of solar photovoltaic modules with agriculture crops. This practice is called agrivoltaics.
       
         <h5>Temporal</h5>
         Temporal intercropping uses the practice of sowing a fast-growing crop with a slow-growing crop, so that the fast-growing crop is harvested before the slow-growing crop starts to mature.


         <h5>Relay</h5>
         Further temporal separation is found in relay cropping, where the second crop is sown during the growth, often near the onset of reproductive development or fruiting, of the first crop, so that the first crop is harvested to make room for the full development of the second.

Crop rotation is related, but is not intercropping, as the different types of crops are grown in a sequence of growing seasons rather than in a single season.
   
    <h3>Potential benefits</h3>
    <h5>Resource partitioning</h5>
    Careful planning is required, taking into account the soil, climate, crops, and varieties. It is particularly important not to have crops competing with each other for physical space, nutrients, water, or sunlight. Examples of intercropping strategies are planting a deep-rooted crop with a shallow-rooted crop, or planting a tall crop with a shorter crop that requires partial shade. Inga alley cropping has been proposed as an alternative to the ecological destruction of slash-and-burn farming.[5]

When crops are carefully selected, other agronomic benefits are also achieved.
    <h5>Mutualism</h5>
    Planting two crops in close proximity can especially be beneficial when the two plants interact in a way that increases one or both of the plant's fitness (and therefore yield). For example, plants that are prone to tip over in wind or heavy rain (lodging-prone plants), may be given structural support by their companion crop.[6] Climbing plants such as black pepper can also benefit from structural support. Some plants are used to suppress weeds or provide nutrients.[7] Delicate or light-sensitive plants may be given shade or protection, or otherwise wasted space can be utilized. An example is the tropical multi-tier system where coconut occupies the upper tier, banana the middle tier, and pineapple, ginger, or leguminous fodder, medicinal or aromatic plants occupy the lowest tier.

Intercropping of compatible plants can also encourage biodiversity, McDaniel et al. 2014 and Lori et al. 2017 finding a legume intercrop to increase soil diversity,[8] or by providing a habitat for a variety of insects and soil organisms that would not be present in a single-crop environment. These organisms may provide crops valuable nutrients, such as through nitrogen fixation
    <h5>Pest management</h5>
    There are several ways in which increasing crop diversity may help improve pest management. For example, such practices may limit outbreaks of crop pests by increasing predator biodiversity.[9] Additionally, reducing the homogeneity of the crop can potentially increase the barriers against biological dispersal of pest organisms through the crop.

There are several ways pests can be controlled through intercropping:
</p>
    </div>
    <div id="hindi">
        <p>
     <h3>अवलोकन</h3>
    
     इंटरक्रॉपिंग एक मल्टीपल क्रॉपिंग अभ्यास है जिसमें दो या दो से अधिक फसलों को एक साथ उगाना शामिल है। दूसरे शब्दों में, इंटरक्रॉपिंग एक ही खेत में एक साथ दो या दो से अधिक फसलों की खेती है। इंटरक्रॉपिंग का सबसे आम लक्ष्य संसाधनों या पारिस्थितिक प्रक्रियाओं का उपयोग करके भूमि के एक दिए गए टुकड़े पर अधिक उपज का उत्पादन करना है जो कि अन्यथा एक ही फसल द्वारा उपयोग नहीं किया जाएगा।
          <h3>तरीके</h3>
          मिश्रित इंटरक्रॉपिंग, (मस्लिन के रूप में भी जाना जाता है) सबसे बुनियादी रूप है जिसमें कई फसलें उपलब्ध स्थान में स्वतंत्र रूप से मिश्रित होती हैं। मसलिन इथियोपिया, इरिट्रिया, जॉर्जिया और कुछ अन्य स्थानों में एक आम प्रथा है। [3]

मसलिन का अभ्यास हजारों वर्षों से किया जाता रहा है। मध्यकालीन इंग्लैंड में, किसानों ने पशुओं का चारा बनाने के लिए जई और जौ को मिलाया, जिसे वे ड्रेज या ड्रेज कॉर्न कहते थे। फ़्रांसीसी किसान दर्द डे मैटिल या मिश्रित अनाज की रोटी बनाने के लिए गेहूँ/राई मसलिन को पीसते हैं। यूक्रेन में और उसके आसपास, मसलिन के लिए ऐतिहासिक शब्द- सुरजिक या सुरजिक- को रूसी, मोल्दोवन, या अन्य भाषाओं को मिलाने वाली बोली का वर्णन करने के लिए बढ़ाया गया था। तुर्की शब्द महलूत का अर्थ अशुद्ध हो गया
          <h5>मस्लिन</h5>
मिश्रित इंटरक्रॉपिंग, (मस्लिन के रूप में भी जाना जाता है) सबसे बुनियादी रूप है जिसमें कई फसलें उपलब्ध स्थान में स्वतंत्र रूप से मिश्रित होती हैं। मसलिन इथियोपिया, इरिट्रिया, जॉर्जिया और कुछ अन्य स्थानों में एक आम प्रथा है। [3]

मसलिन का अभ्यास हजारों वर्षों से किया जाता रहा है। मध्यकालीन इंग्लैंड में, किसानों ने पशुओं का चारा बनाने के लिए जई और जौ को मिलाया, जिसे वे ड्रेज या ड्रेज कॉर्न कहते थे। फ़्रांसीसी किसान दर्द डे मैटिल या मिश्रित अनाज की रोटी बनाने के लिए गेहूँ/राई मसलिन को पीसते हैं। यूक्रेन में और उसके आसपास, मसलिन के लिए ऐतिहासिक शब्द- सुरजिक या सुरजिक- को रूसी, मोल्दोवन, या अन्य भाषाओं को मिलाने वाली बोली का वर्णन करने के लिए बढ़ाया गया था। तुर्की शब्द महलूत का अर्थ अशुद्ध हो गया
         

          पंक्ति फसल में वैकल्पिक पंक्तियों में व्यवस्थित घटक फसलें शामिल हैं। विविधताओं में एली क्रॉपिंग शामिल है, जहां फसलों को पेड़ों की पंक्तियों के बीच में उगाया जाता है, और स्ट्रिप क्रॉपिंग, जहां एक फसल की कई पंक्तियों या एक पट्टी को दूसरी फसल की कई पंक्तियों के साथ वैकल्पिक किया जाता है। इसका एक नया संस्करण कृषि फसलों के साथ सौर फोटोवोल्टिक मॉड्यूल की पंक्तियों को इंटरक्रॉप करना है। इस प्रथा को एग्रीवोल्टाइक्स कहा जाता है।
          <h5>पंक्ति फसलें</h5>
           पंक्ति फसल में वैकल्पिक पंक्तियों में व्यवस्थित घटक फसलें शामिल हैं। विविधताओं में एली क्रॉपिंग शामिल है, जहां फसलों को पेड़ों की पंक्तियों के बीच में उगाया जाता है, और स्ट्रिप क्रॉपिंग, जहां एक फसल की कई पंक्तियों या एक पट्टी को दूसरी फसल की कई पंक्तियों के साथ वैकल्पिक किया जाता है। इसका एक नया संस्करण कृषि फसलों के साथ सौर फोटोवोल्टिक मॉड्यूल की पंक्तियों को इंटरक्रॉप करना है। इस प्रथा को एग्रीवोल्टाइक्स कहा जाता है।
       
          <h5>टेम्पोरल</h5>
          टेम्पोरल इंटरक्रॉपिंग धीमी गति से बढ़ने वाली फसल के साथ तेजी से बढ़ने वाली फसल को बोने की प्रथा का उपयोग करता है, ताकि धीमी गति से बढ़ने वाली फसल परिपक्व होने से पहले तेजी से बढ़ने वाली फसल को काटा जा सके।


          <h5>रिले</h5>
          आगे की अस्थायी जुदाई रिले क्रॉपिंग में पाई जाती है, जहां दूसरी फसल विकास के दौरान बोई जाती है, अक्सर पहली फसल के प्रजनन विकास या फलने की शुरुआत के करीब होती है, ताकि पहली फसल के पूर्ण विकास के लिए जगह बनाने के लिए कटाई की जा सके। दूसरा।

फसल रोटेशन संबंधित है, लेकिन इंटरक्रॉपिंग नहीं है, क्योंकि विभिन्न प्रकार की फसलें एक ही मौसम के बजाय बढ़ते मौसमों के क्रम में उगाई जाती हैं।
   
     <h3>संभावित लाभ</h3>
     <h5>संसाधन विभाजन</h5>
     मिट्टी, जलवायु, फसलों और किस्मों को ध्यान में रखते हुए सावधानीपूर्वक योजना की आवश्यकता है। यह विशेष रूप से महत्वपूर्ण है कि फसलें भौतिक स्थान, पोषक तत्वों, पानी, या धूप के लिए एक दूसरे के साथ प्रतिस्पर्धा न करें। इंटरक्रॉपिंग रणनीतियों के उदाहरण एक गहरी जड़ वाली फसल के साथ एक उथली जड़ वाली फसल लगा रहे हैं, या एक छोटी फसल के साथ एक लंबी फसल लगा रहे हैं जिसके लिए आंशिक छाया की आवश्यकता होती है। स्लैश-एंड-बर्न फार्मिंग के पारिस्थितिक विनाश के विकल्प के रूप में इंगा एली क्रॉपिंग को प्रस्तावित किया गया है। [5]

जब फसलों का सावधानीपूर्वक चयन किया जाता है, तो अन्य कृषि संबंधी लाभ भी प्राप्त होते हैं।
     <h5>पारस्परिकता</h5>
     दो फ़सलों को पास-पास लगाना विशेष रूप से तब फ़ायदेमंद हो सकता है जब दो पौधे इस तरह परस्पर क्रिया करते हैं जिससे एक या दोनों पौधों की क्षमता (और इसलिए उपज) बढ़ जाती है। उदाहरण के लिए, पौधे जो हवा या भारी बारिश (आवास-प्रवण पौधों) में टिप करने के लिए प्रवण होते हैं, उन्हें उनकी साथी फसल द्वारा संरचनात्मक समर्थन दिया जा सकता है। [6] काली मिर्च जैसे चढ़ाई वाले पौधे भी संरचनात्मक समर्थन से लाभान्वित हो सकते हैं। कुछ पौधों का उपयोग खरपतवारों को दबाने या पोषक तत्व प्रदान करने के लिए किया जाता है। [7] नाजुक या प्रकाश के प्रति संवेदनशील पौधों को छाया या सुरक्षा दी जा सकती है, या अन्यथा बर्बाद जगह का उपयोग किया जा सकता है। एक उदाहरण उष्णकटिबंधीय बहु-स्तरीय प्रणाली है जहां नारियल ऊपरी स्तर पर है, केला मध्य स्तर पर है, और अनानास, अदरक, या फलीदार चारा, औषधीय या सुगंधित पौधे सबसे निचले स्तर पर हैं।

संगत पौधों की इंटरक्रॉपिंग भी जैव विविधता, मैकडैनियल एट अल को प्रोत्साहित कर सकती है। 2014 और लोरी एट अल। 2017 मिट्टी की विविधता को बढ़ाने के लिए एक फलीदार इंटरक्रॉप खोजना, [8] या विभिन्न प्रकार के कीड़ों और मिट्टी के जीवों के लिए एक आवास प्रदान करके जो एकल-फसल वातावरण में मौजूद नहीं होंगे। ये जीव फसलों को मूल्यवान पोषक तत्व प्रदान कर सकते हैं, जैसे नाइट्रोजन स्थिरीकरण के माध्यम से
     <h5>कीट प्रबंधन</h5>
     ऐसे कई तरीके हैं जिनसे फसल विविधता में वृद्धि कीट प्रबंधन को बेहतर बनाने में मदद कर सकती है। उदाहरण के लिए, इस तरह के अभ्यास परभक्षी जैव विविधता को बढ़ाकर फसल कीटों के प्रकोप को सीमित कर सकते हैं। [9] इसके अतिरिक्त, फसल की समरूपता को कम करने से फसल के माध्यम से कीट जीवों के जैविक फैलाव के खिलाफ बाधाओं में संभावित वृद्धि हो सकती है।

इंटरक्रॉपिंग के माध्यम से कीटों को नियंत्रित करने के कई तरीके हैं:
</p>
    </div>
    <script>
         document.getElementById("hindi").style.display="none";
        function change_to_english(){
            document.getElementById("english").style.display="block";
            document.getElementById("hindi").style.display="none";
        }
        function change_to_hindi(){
            document.getElementById("english").style.display="none";
            document.getElementById("hindi").style.display="block";

        }
    </script>
</body>
</html>