<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button onclick="change_to_english()">English</button>
    <button onclick="change_to_hindi()">Hindi</button>
    <div id="english">
    <p>
        <h3>Overview</h3>
        Manure is organic matter that is used as organic fertilizer in agriculture. Most manure consists of animal feces; other sources include compost and green manure. Manures contribute to the fertility of soil by adding organic matter and nutrients, such as nitrogen, that are utilised by bacteria, fungi and other organisms in the soil. Higher organisms then feed on the fungi and bacteria in a chain of life that comprises the soil food web.
        <h3>History</h3>
        According to a Byzantine tradition attributed to Cassianus Bassus pig dung was generally not usable as fertilizer, except for almond trees. Similar views recorded by Columella were unrelated to the Islamic taboos of later centuries, though the medieval Andalusian writer Ibn Bassal and some later writers from Yemen also recorded negative effects of pig dung "burning" plants. Ibn Bassal described a sort of mixed manure with straw or sweeping mixed in as mudaf, implying that was not composed of only manure. The sweepings from hot baths included urine and human wastes, which Ibn Bassal describes as dry and salty, unsuitable for use as fertilizer unless mixed with manure. Ibn Bassal gives two recipes for composting pigeon (hamam) and possibly donkey (himar) manure, though the translation is uncertain. Bassal says the excessive heat and moist qualities of pigeon dung worked well for weaker and less hardy plants, especially those affected by cold temperatures
        <h3>Types</h3>
        <h5>Animal manure</h5>
        Most animal manure consists of feces. Common forms of animal manure include farmyard manure (FYM) or farm slurry (liquid manure).[2] FYM also contains plant material (often straw), which has been used as bedding for animals and has absorbed the feces and urine. Agricultural manure in liquid form, known as slurry, is produced by more intensive livestock rearing systems where concrete or slats are used, instead of straw bedding. Manure from different animals has different qualities and requires different application rates when used as fertilizer. For example horses, cattle, pigs, sheep, chickens, turkeys, rabbits, and guano from seabirds and bats all have different properties
        <h5>compost</h5>
        Compost is the decomposed remnants of organic materials. It is usually of plant origin, but often includes some animal dung or bedding.
        <h5>Green manure</h5>
        Green manures are crops grown for the express purpose of plowing them in, thus increasing fertility through the incorporation of nutrients and organic matter into the soil. Leguminous plants such as clover are often used for this, as they fix nitrogen using Rhizobia bacteria in specialized nodes in the root structure.

Other types of plant matter used as manure include the contents of the rumens of slaughtered ruminants, spent grain (left over from brewing beer) and seaweed.
        <h3>Uses</h3>
        Animal manure, such as chicken manure and cow dung, has been used for centuries as a fertilizer for farming. It can improve the soil structure (aggregation) so that the soil holds more nutrients and water, and therefore becomes more fertile. Animal manure also encourages soil microbial activity which promotes the soil's trace mineral supply, improving plant nutrition. It also contains some nitrogen and other nutrients that assist the growth of plants.[6]

Odor is an obvious and major issue with animal manure. Components in swine manure include low molecular weight carboxylic acids, acetic, propionic, butyric, and valeric acids. Other components include skatole and trimethyl amine.[7]

Animal manures with a particularly unpleasant odor (such as slurries from intensive pig farming) are usually knifed (injected) directly into the soil to reduce release of the odor. Manure from pigs and cattle is usually spread on fields using a manure spreader. Due to the relatively lower level of proteins in vegetable matter, herbivore manure has a milder smell than the dung of carnivores or omnivores. However, herbivore slurry that has undergone anaerobic fermentation may develop more unpleasant odors, and this can be a problem in some agricultural regions. Poultry droppings are harmful to plants when fresh, but after a period of composting are valuable fertilizers.
    <h3>Issues</h3>
    Any quantity of animal manure may be a source of pathogens or food spoilage organisms which may be carried by flies, rodents or a range of other vector organisms and cause disease or put food safety at risk.

In intensive agricultural land use, animal manure is often not used as targeted as mineral fertilizers, and thus, the nitrogen utilization efficiency is poor. Animal manure can become a problem in terms of excessive use in areas of intensive agriculture with high numbers of livestock and too little available farmland.[citation needed]

The greenhouse gas nitrous oxide can be emitted so contributing to climate change.
    </p>
    </div>
    <div id="hindi">
        <p>
         <h3>अवलोकन</h3>
         खाद जैविक पदार्थ है जिसका उपयोग कृषि में जैविक खाद के रूप में किया जाता है। अधिकांश खाद में जानवरों का मल होता है; अन्य स्रोतों में खाद और हरी खाद शामिल हैं। खाद कार्बनिक पदार्थ और नाइट्रोजन जैसे पोषक तत्वों को जोड़कर मिट्टी की उर्वरता में योगदान देता है, जिसका उपयोग मिट्टी में बैक्टीरिया, कवक और अन्य जीवों द्वारा किया जाता है। उच्च जीव फिर जीवन की एक श्रृंखला में कवक और जीवाणुओं पर फ़ीड करते हैं जिसमें मृदा खाद्य वेब शामिल होता है।
         <h3>इतिहास</h3>
         एक बीजान्टिन परंपरा के अनुसार, बादाम के पेड़ों को छोड़कर, कैसियनस बासस सुअर का गोबर आम तौर पर उर्वरक के रूप में प्रयोग करने योग्य नहीं था। कोलुमेला द्वारा दर्ज किए गए समान विचार बाद की शताब्दियों के इस्लामी वर्जनाओं से संबंधित नहीं थे, हालांकि मध्ययुगीन अंडालूसी लेखक इब्न बासल और यमन के कुछ बाद के लेखकों ने भी सुअर के गोबर "जलने" वाले पौधों के नकारात्मक प्रभाव दर्ज किए। इब्न बस्सल ने एक प्रकार की मिश्रित खाद को पुआल या झाडू के साथ मुदाफ के रूप में मिश्रित किया, जिसका अर्थ है कि यह केवल खाद से बना नहीं था। गर्म स्नान से होने वाले झाडू में मूत्र और मानव अपशिष्ट शामिल होते हैं, जिसे इब्न बस्सल सूखा और नमकीन बताते हैं, जब तक कि खाद के साथ मिश्रित न किया जाए, उर्वरक के रूप में उपयोग के लिए अनुपयुक्त। इब्न बस्सल कबूतर (हमाम) और संभवतः गधा (हिमार) खाद बनाने के लिए दो व्यंजन विधि देते हैं, हालांकि अनुवाद अनिश्चित है। बासल का कहना है कि कबूतर के गोबर की अत्यधिक गर्मी और नम गुण कमजोर और कम कठोर पौधों के लिए अच्छी तरह से काम करते हैं, खासकर ठंडे तापमान से प्रभावित
         <h3>प्रकार</h3>
         <h5>पशु खाद</h5>
         अधिकांश पशु खाद में मल होता है। पशु खाद के सामान्य रूपों में फार्मयार्ड खाद (FYM) या फार्म स्लरी (तरल खाद) शामिल हैं। [2] FYM में पौधों की सामग्री (अक्सर पुआल) भी होती है, जिसका उपयोग जानवरों के लिए बिस्तर के रूप में किया जाता है और मल और मूत्र को अवशोषित करता है। तरल रूप में कृषि खाद, जिसे घोल के रूप में जाना जाता है, अधिक गहन पशुधन पालन प्रणालियों द्वारा उत्पादित किया जाता है, जहां पुआल के बिस्तर के बजाय कंक्रीट या स्लैट का उपयोग किया जाता है। अलग-अलग जानवरों की खाद में अलग-अलग गुण होते हैं और उर्वरक के रूप में उपयोग किए जाने पर अलग-अलग आवेदन दरों की आवश्यकता होती है। उदाहरण के लिए घोड़े, मवेशी, सूअर, भेड़, मुर्गियां, टर्की, खरगोश और गुआनो समुद्री पक्षी और चमगादड़ सभी के अलग-अलग गुण होते हैं
         <h5>कम्पोस्ट</h5>
         खाद कार्बनिक पदार्थों के विघटित अवशेष हैं। यह आमतौर पर पौधे की उत्पत्ति का होता है, लेकिन इसमें अक्सर कुछ जानवरों का गोबर या बिस्तर शामिल होता है।
         <h5>हरी खाद</h5>
         हरी खाद ऐसी फसलें होती हैं जिन्हें जुताई के उद्देश्य से उगाया जाता है, इस प्रकार पोषक तत्वों और कार्बनिक पदार्थों को मिट्टी में शामिल करने से उर्वरता बढ़ती है। इसके लिए प्रायः तिपतिया घास जैसे फलीदार पौधों का उपयोग किया जाता है, क्योंकि वे जड़ संरचना में विशेष नोड्स में राइजोबिया बैक्टीरिया का उपयोग करके नाइट्रोजन को ठीक करते हैं।

खाद के रूप में उपयोग किए जाने वाले अन्य प्रकार के पौधों में वध किए गए जुगाली करने वालों के रूमेन की सामग्री, भुने हुए अनाज (बीयर बनाने से बचा हुआ) और समुद्री शैवाल शामिल हैं।
         <h3>उपयोग</h3>
         पशु खाद, जैसे चिकन खाद और गाय के गोबर का उपयोग सदियों से खेती के लिए उर्वरक के रूप में किया जाता रहा है। यह मिट्टी की संरचना (एकत्रीकरण) में सुधार कर सकता है ताकि मिट्टी में अधिक पोषक तत्व और पानी हो, और इसलिए अधिक उपजाऊ हो। पशु खाद भी मिट्टी की माइक्रोबियल गतिविधि को प्रोत्साहित करती है जो मिट्टी के ट्रेस खनिज आपूर्ति को बढ़ावा देती है, पौधों के पोषण में सुधार करती है। इसमें कुछ नाइट्रोजन और अन्य पोषक तत्व भी होते हैं जो पौधों के विकास में सहायता करते हैं। [6]

पशु खाद के साथ गंध एक स्पष्ट और प्रमुख मुद्दा है। स्वाइन खाद के घटकों में कम आणविक भार कार्बोक्जिलिक एसिड, एसिटिक, प्रोपियोनिक, ब्यूटिरिक और वैलेरिक एसिड शामिल हैं। अन्य घटकों में स्काटोले और ट्राइमिथाइल एमाइन शामिल हैं। [7]

विशेष रूप से अप्रिय गंध वाली पशु खाद (जैसे कि सघन सुअर पालन से स्लरी) आमतौर पर गंध को कम करने के लिए सीधे मिट्टी में चाकू से (इंजेक्शन) लगाया जाता है। सूअरों और मवेशियों की खाद आमतौर पर खाद स्प्रेडर का उपयोग करके खेतों में फैलाई जाती है। वनस्पति पदार्थ में प्रोटीन के अपेक्षाकृत निम्न स्तर के कारण, शाकाहारी खाद में मांसाहारी या सर्वाहारी के गोबर की तुलना में हल्की गंध होती है। हालांकि, एनारोबिक किण्वन से गुजरने वाले शाकाहारी घोल में अधिक अप्रिय गंध विकसित हो सकती है, और यह कुछ कृषि क्षेत्रों में एक समस्या हो सकती है। कुक्कुट की बीट ताजा होने पर पौधों के लिए हानिकारक होती है, लेकिन कंपोस्टिंग की अवधि के बाद मूल्यवान उर्वरक होते हैं।
     <h3>समस्याएं</h3>
     जानवरों की खाद की कोई भी मात्रा रोगजनकों या खाद्य खराब करने वाले जीवों का स्रोत हो सकती है जो मक्खियों, कृन्तकों या अन्य वेक्टर जीवों की एक श्रृंखला द्वारा ले जाई जा सकती है और बीमारी का कारण बन सकती है या खाद्य सुरक्षा को खतरे में डाल सकती है।

सघन कृषि भूमि उपयोग में, पशु खाद का उपयोग अक्सर लक्षित खनिज उर्वरकों के रूप में नहीं किया जाता है, और इस प्रकार, नाइट्रोजन उपयोग दक्षता खराब होती है। पशुओं की उच्च संख्या और बहुत कम उपलब्ध कृषि भूमि वाले गहन कृषि के क्षेत्रों में अत्यधिक उपयोग के मामले में पशु खाद एक समस्या बन सकती है। [उद्धरण वांछित]

ग्रीनहाउस गैस नाइट्रस ऑक्साइड उत्सर्जित किया जा सकता है जिससे जलवायु परिवर्तन में योगदान होता है।
     </p>
    </div>
    <script>
        document.getElementById("hindi").style.display="none";
        function change_to_english(){
            document.getElementById("english").style.display="block";
            document.getElementById("hindi").style.display="none";
        }
        function change_to_hindi(){
            document.getElementById("english").style.display="none";
            document.getElementById("hindi").style.display="block";
        }
    </script>
</body>
</html>