<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button onclick="change_to_english()">English</button>
    <button onclick="change_to_hindi()">Hindi</button>
    <div id="english">    <p>
        <h3>Overview</h3>
        Sowing is the process of planting seeds. An area or object that has had seeds planted in it will be described as a sowed or sown area.
        <h3>Plants which usually sown</h3>
        Among the major field crops, oats, wheat, and rye are sown, grasses and legumes are seeded and maize and soybeans are planted. In planting, wider rows (generally 75 cm (30 in) or more) are used, and the intent is to have precise; even spacing between individual seeds in the row, various mechanisms have been devised to count out individual seeds at exact intervals.
        <h3>Depth of sowing</h3>
        In sowing, little if any soil is placed over the seeds, as seeds can be generally sown into the soil by maintaining a planting depth of about 2-3 times the size of the seed.
        <h3>Types of sowing</h3>
        <h5>Hand sowing</h5>
        Hand sowing or (planting) is the process of casting handfuls of seed over prepared ground, or broadcasting (from which the technological term is derived[citation needed]). Usually, a drag or harrow is employed to incorporate the seed into the soil. Though labor-intensive for any but small areas, this method is still used in some situations. Practice is required to sow evenly and at the desired rate. A hand seeder can be used for sowing, though it is less of a help than it is for the smaller seeds of grasses and legumes.


A tray used in horticulture (for sowing and taking plant cuttings)
Hand sowing may be combined with pre-sowing in seed trays. This allows the plants to come to strength indoors during cold periods
    <h5>Seed drill</h5>
    In agriculture, most seed is now sown using a seed drill, which offers greater precision; seed is sown evenly and at the desired rate. The drill also places the seed at a measured distance below the soil, so that less seed is required. The standard design uses a fluted feed metering system, which is volumetric in nature; individual seeds are not counted. Rows are typically about 10–30 cm apart, depending on the crop species and growing conditions. Several row opener types are used depending on soil type and local tradition. Grain drills are most often drawn by tractors, but can also be pulled by horses. Pickup trucks are sometimes used, since little draft is required.

A seed rate of about 100 kg of seed per hectare (2 bushels per acre) is typical, though rates vary considerably depending on crop species, soil conditions, and farmer's preference. Excessive rates can cause the crop to lodge, while too thin a rate will result in poor utilisation of the land, competition with weeds and a reduction in the yield.
    <h5>Open field</h5>
    Open-field planting refers to the form of sowing used historically in the agricultural context whereby fields are prepared generically and left open, as the name suggests, before being sown directly with seed. The seed is frequently left uncovered at the surface of the soil before germinating and therefore exposed to the prevailing climate and conditions like storms etc. This is in contrast to the seedbed method used more commonly in domestic gardening or more specific (modern) agricultural scenarios where the seed is applied beneath the soil surface and monitored and manually tended frequently to ensure more successful growth rates and better yields.
   
    <h3>Pre-treatment of seed and soil before sowing</h3>
    Before sowing, certain seeds first require a treatment prior to the sowing process. This treatment may be seed scarification, stratification, seed soaking or seed cleaning with cold (or medium hot) water.

Seed soaking is generally done by placing seeds in medium hot water for at least 24 to up to 48 hours[2] Seed cleaning is done especially with fruit, as the flesh of the fruit around the seed can quickly become prone to attack from insects or plagues.[3] Seed washing is generally done by submerging cleansed seeds 20 minutes in 50 degree Celsius water.[4] This (rather hot than moderately hot) water kills any organisms that may have survived on the skin of a seed. Especially with easily infected tropical fruit such as lychees and rambutans, seed washing with high-temperature water is vital.

In addition to the mentioned seed pretreatments, seed germination is also assisted when a disease-free soil is used. Especially when trying to germinate difficult seed (e.g. certain tropical fruit), prior treatment of the soil (along with the usage of the most suitable soil; e.g. potting soil, prepared soil or other substrates) is vital. The two most used soil treatments are pasteurisation and sterilisation. Depending on the necessity, pasteurisation is to be preferred as this does not kill all organisms. Sterilisation can be done when trying to grow truly difficult crops. To pasteurise the soil, the soil is heated for 15 minutes in an oven of 120 °C
    </p>
    </div>
    <div id="hindi">
        <p>
         <h3>अवलोकन</h3>
         बुवाई बीज बोने की प्रक्रिया है। एक क्षेत्र या वस्तु जिसमें बीज बोए गए हैं, उसे बोए गए या बोए गए क्षेत्र के रूप में वर्णित किया जाएगा।
         <h3>पौधे जो आमतौर पर बोए जाते हैं</h3>
         प्रमुख क्षेत्र फसलों में, जई, गेहूं और राई बोई जाती हैं, घास और फलियां बोई जाती हैं और मक्का और सोयाबीन लगाए जाते हैं। रोपण में, व्यापक पंक्तियों (आमतौर पर 75 सेमी (30 इंच) या अधिक) का उपयोग किया जाता है, और इरादा सटीक होना है; यहां तक कि पंक्ति में अलग-अलग बीजों के बीच की दूरी, अलग-अलग बीजों को सटीक अंतराल पर गिनने के लिए विभिन्न तंत्र तैयार किए गए हैं।
         <h3>बुवाई की गहराई</h3>
         बुवाई में, यदि कोई मिट्टी बीज के ऊपर रखी जाती है, क्योंकि बीज को आम तौर पर बीज के आकार के लगभग 2-3 गुना की रोपण गहराई को बनाए रखकर मिट्टी में बोया जा सकता है।
         <h3>बुवाई के प्रकार</h3>
         <h5>हाथ से बोना</h5>
         हाथ से बुवाई या (रोपाई) तैयार जमीन पर मुट्ठी भर बीज डालने की प्रक्रिया है, या प्रसारण (जिससे तकनीकी शब्द व्युत्पन्न हुआ है [उद्धरण वांछित])। आमतौर पर, बीज को मिट्टी में मिलाने के लिए एक ड्रैग या हैरो का इस्तेमाल किया जाता है। हालांकि किसी भी लेकिन छोटे क्षेत्रों के लिए श्रम-गहन, इस पद्धति का अभी भी कुछ स्थितियों में उपयोग किया जाता है। समान रूप से और वांछित दर पर बोने के लिए अभ्यास की आवश्यकता होती है। एक हाथ सीडर का उपयोग बुवाई के लिए किया जा सकता है, हालांकि यह घास और फलियों के छोटे बीजों की तुलना में कम मदद करता है।


बागवानी में उपयोग की जाने वाली एक ट्रे (बुवाई और पौधों की कटाई लेने के लिए)
हाथ से बुवाई को बीज ट्रे में पूर्व बुवाई के साथ जोड़ा जा सकता है। यह पौधों को ठंड के समय में घर के अंदर मजबूती से आने की अनुमति देता है
     <h5>सीड ड्रिल</h5>
     कृषि में, अधिकांश बीज अब सीड ड्रिल का उपयोग करके बोए जाते हैं, जो अधिक सटीकता प्रदान करता है; बीज समान रूप से और वांछित दर पर बोया जाता है। ड्रिल बीज को मिट्टी के नीचे एक मापी हुई दूरी पर भी रखता है, ताकि कम बीज की आवश्यकता हो। मानक डिजाइन एक फ़्लूटेड फीड मीटरिंग सिस्टम का उपयोग करता है, जो प्रकृति में वॉल्यूमेट्रिक है; व्यक्तिगत बीजों की गणना नहीं की जाती है। फसल की प्रजातियों और बढ़ती परिस्थितियों के आधार पर पंक्तियाँ आमतौर पर लगभग 10-30 सेमी अलग होती हैं। मिट्टी के प्रकार और स्थानीय परंपरा के आधार पर कई पंक्ति खोलने वाले प्रकारों का उपयोग किया जाता है। अनाज के ड्रिल को अक्सर ट्रैक्टर द्वारा खींचा जाता है, लेकिन इसे घोड़ों द्वारा भी खींचा जा सकता है। पिकअप ट्रकों का कभी-कभी उपयोग किया जाता है, क्योंकि थोड़े ड्राफ्ट की आवश्यकता होती है।

लगभग 100 किलोग्राम बीज प्रति हेक्टेयर (2 बुशल प्रति एकड़) की बीज दर विशिष्ट है, हालांकि फसल की प्रजातियों, मिट्टी की स्थिति और किसान की पसंद के आधार पर दरों में काफी भिन्नता होती है। अत्यधिक दरों से फसल खराब हो सकती है, जबकि बहुत कम दर से भूमि का खराब उपयोग, खरपतवारों के साथ प्रतिस्पर्धा और उपज में कमी होगी।
     <h5>खुला मैदान</h5>
     ओपन-फील्ड प्लांटिंग कृषि संदर्भ में ऐतिहासिक रूप से उपयोग किए जाने वाले बुवाई के रूप को संदर्भित करता है जिससे खेतों को सामान्य रूप से तैयार किया जाता है और खुले छोड़ दिया जाता है, जैसा कि नाम से पता चलता है, बीज के साथ सीधे बोए जाने से पहले। अंकुरित होने से पहले बीज को अक्सर मिट्टी की सतह पर खुला छोड़ दिया जाता है और इसलिए प्रचलित जलवायु और तूफान आदि जैसी स्थितियों के संपर्क में आता है। यह घरेलू बागवानी या अधिक विशिष्ट (आधुनिक) कृषि परिदृश्यों में आमतौर पर इस्तेमाल की जाने वाली सीडबेड विधि के विपरीत है। बीज को मिट्टी की सतह के नीचे लगाया जाता है और अधिक सफल विकास दर और बेहतर पैदावार सुनिश्चित करने के लिए निगरानी की जाती है और मैन्युअल रूप से बार-बार देखभाल की जाती है।
   
     <h3>बुवाई से पहले बीज और मिट्टी का पूर्व उपचार</h3>
     बुवाई से पहले, कुछ बीजों को बुवाई प्रक्रिया से पहले पहले उपचार की आवश्यकता होती है। यह उपचार बीज परिशोधन, स्तरीकरण, बीज भिगोना या ठंडे (या मध्यम गर्म) पानी से बीज की सफाई हो सकता है।

बीजों को भिगोने के लिए आम तौर पर कम से कम 24 से 48 घंटों तक मध्यम गर्म पानी में बीज डालकर किया जाता है [2] बीज की सफाई विशेष रूप से फलों के साथ की जाती है, क्योंकि बीज के चारों ओर फल का गूदा जल्दी से कीड़ों के हमले का शिकार हो सकता है या विपत्तियाँ। [3] बीजों की धुलाई आम तौर पर 50 डिग्री सेल्सियस पानी में 20 मिनट तक साफ किए हुए बीजों को डुबो कर की जाती है। [4] यह (मध्यम गर्म की तुलना में गर्म) पानी किसी भी जीव को मारता है जो बीज की त्वचा पर जीवित रह सकता है। विशेष रूप से आसानी से संक्रमित उष्णकटिबंधीय फल जैसे लीची और रामबूटन के साथ, बीजों को उच्च तापमान वाले पानी से धोना महत्वपूर्ण है।

उल्लिखित बीज पूर्व उपचार के अलावा, जब रोग मुक्त मिट्टी का उपयोग किया जाता है तो बीज अंकुरण में भी सहायता मिलती है। विशेष रूप से कठिन बीज (जैसे कुछ उष्णकटिबंधीय फल) को अंकुरित करने की कोशिश करते समय, मिट्टी का पूर्व उपचार (सबसे उपयुक्त मिट्टी के उपयोग के साथ-साथ मिट्टी, तैयार मिट्टी या अन्य सबस्ट्रेट्स) महत्वपूर्ण है। दो सबसे अधिक उपयोग किए जाने वाले मृदा उपचार पाश्चुरीकरण और नसबंदी हैं। आवश्यकता के आधार पर, पाश्चुरीकरण को प्राथमिकता दी जाती है क्योंकि यह सभी जीवों को नहीं मारता है। वास्तव में कठिन फसलों को उगाने की कोशिश करते समय बंध्याकरण किया जा सकता है। मिट्टी को पाश्चुरीकृत करने के लिए, मिट्टी को 120 डिग्री सेल्सियस के ओवन में 15 मिनट के लिए गर्म किया जाता है
     </p>

    </div>
    <script>
         document.getElementById("hindi").style.display="none";
        function change_to_english(){
            document.getElementById("english").style.display="block";
            document.getElementById("hindi").style.display="none";
        }
        function change_to_hindi(){
            document.getElementById("english").style.display="none";
            document.getElementById("hindi").style.display="block";
        }
    </script>
</body>
</html>