<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button onclick="change_to_english()">English</button>
    <button onclick="change_to_hindi()">Hindi</button>
    <div id="english">
        <p>
            <h3>Storage and warehousing</h3>
            Storage is an important marketing function, which involves holding and preserving goods from the time they are produced until they are needed for consumption.

    The storage of goods, therefore, from the time of production to the time of consumption, ensures a continuous flow of goods in the market.
    Storage protects the quality of perishable and semi-perishable products from deterioration;
    Some of the goods e.g., woolen garments, have a seasonal demand. To cope with this demand, production on a continuous basis and storage become necessary;
    It helps in the stabilization of prices by adjusting demand and supply;
    Storage is necessary for some period for performance of other marketing functions.
    Storage provides employment and income through price advantages.

    <h3>Types</h3>
    <h5>Underground Storage Structures</h5>
    Underground storage structures are dugout structures similar to a well with sides plastered with cowdung. They may also be lined with stones or sand and cement. They may be circular or rectangular in shape. The capacity varies with the size of the structure.
        <h5>Advantages</h5>
        1)Underground storage structures are safer from threats from various external sources of damage, such as theft, rain or wind.
        2)The underground storage space can temporarily be utilized for some other purposes with minor adjustments; and
        3)The underground storage structures are easier to fill up owing to the factor of gravity.
        <h5>Surface storage structures</h5>
        Bag storage
Each bag contains a definite quantity, which can be bought, sold or dispatched without difficulty;
Bags are easier to load or unload.
It is easier to keep separate lots with identification marks on the bags.
The bags which are identified as infested on inspection can be removed and treated easily; and
The problem of the sweating of grains does not arise because the surface of the bag is exposed to the atmospheres.
Bulk or loose storage
    <h5>Advantages</h5>
    1)The exposed peripheral surface area per unit weight of grain is less. Consequently, the danger of damage from external sources is reduced; and
2)Pest infestation is less because of almost airtight conditions in the deeper layers.
3)The government of India has made efforts to promote improved storage facilities at the farm level.
        
        <h5>Warehousing</h5>
        <h6>Scientific storage</h6>
        The product is protected against quantitative and qualitative losses by the use of such methods of preservation as are necessary.
        <h6>Financing</h6>
        Warehouses meet the financial needs of the person who stores the product. Nationalized banks advance credit on the security of the warehouse receipt issued for the stored products to the extent of 75 to 80% of their value.
        <h6>Price Stabilization</h6>
        Warehouses help in price stabilization of agricultural commodities by checking the tendency to making post-harvest sales among the farmers.

Market Intelligence
Warehouses also offer the facility of market information to persons who hold their produce in them.

        </p>
    </div>
    <div id="hindi">
        <p>
             <h3>भंडारण और भंडारण</h3>
             भंडारण एक महत्वपूर्ण विपणन कार्य है, जिसमें वस्तुओं के उत्पादन के समय से लेकर उपभोग के लिए आवश्यक होने तक उन्हें रखना और संरक्षित करना शामिल है।

     इसलिए, माल का भंडारण, उत्पादन के समय से खपत के समय तक, बाजार में माल के निरंतर प्रवाह को सुनिश्चित करता है।
     भंडारण खराब होने वाले और अर्ध-नाशपाती उत्पादों की गुणवत्ता को बिगड़ने से बचाता है;
     कुछ वस्तुओं जैसे ऊनी वस्त्रों की मौसमी माँग होती है। इस मांग को पूरा करने के लिए निरंतर उत्पादन और भंडारण आवश्यक हो जाता है;
     यह मांग और आपूर्ति को समायोजित करके कीमतों के स्थिरीकरण में मदद करता है;
     भंडारण अन्य विपणन कार्यों के प्रदर्शन के लिए कुछ अवधि के लिए आवश्यक है।
     भंडारण मूल्य लाभ के माध्यम से रोजगार और आय प्रदान करता है।

     <h3>प्रकार</h3>
     <h5>भूमिगत भंडारण संरचनाएं</h5>
     भूमिगत भंडारण संरचनाएं एक कुएं के समान खोदी गई संरचनाएं होती हैं, जिनके किनारे गाय के गोबर से लिपे होते हैं। वे पत्थरों या रेत और सीमेंट से भी ढके हो सकते हैं। वे आकार में गोलाकार या आयताकार हो सकते हैं। क्षमता संरचना के आकार के साथ बदलती है।
         <h5>फायदे</h5>
         1) चोरी, बारिश या हवा जैसे नुकसान के विभिन्न बाहरी स्रोतों से भूमिगत भंडारण संरचनाएं सुरक्षित हैं।
         2) मामूली समायोजन के साथ कुछ अन्य उद्देश्यों के लिए भूमिगत भंडारण स्थान का अस्थायी रूप से उपयोग किया जा सकता है; और
         3) गुरुत्वाकर्षण के कारक के कारण भूमिगत भंडारण संरचनाओं को भरना आसान है।
         <h5>सतह भंडारण संरचनाएं</h5>
         थैला भंडारण
प्रत्येक बैग में एक निश्चित मात्रा होती है, जिसे बिना किसी कठिनाई के खरीदा, बेचा या भेजा जा सकता है;
बैग को लोड या अनलोड करना आसान होता है।
थैलों पर पहचान चिह्नों के साथ अलग-अलग लॉट रखना आसान होता है।
जिन थैलियों की पहचान निरीक्षण में संक्रमित के रूप में की गई है, उन्हें हटाया जा सकता है और आसानी से उपचारित किया जा सकता है; और
अनाज के पसीने की समस्या उत्पन्न नहीं होती क्योंकि थैले की सतह वातावरण के संपर्क में होती है।
थोक या ढीला भंडारण
     <h5>फायदे</h5>
     1)अनाज के प्रति इकाई वजन में खुला परिधीय सतह क्षेत्र कम होता है। नतीजतन, बाहरी स्रोतों से नुकसान का खतरा कम हो जाता है; और
2) गहरी परतों में लगभग वायुरोधी स्थितियों के कारण कीट का संक्रमण कम होता है।
3) भारत सरकार ने खेत स्तर पर बेहतर भंडारण सुविधाओं को बढ़ावा देने के प्रयास किए हैं।
        
         <h5>वेयरहाउसिंग</h5>
         <h6>वैज्ञानिक भंडारण</h6>
         उत्पाद को मात्रात्मक और गुणात्मक नुकसान के खिलाफ आवश्यक संरक्षण के ऐसे तरीकों के उपयोग से संरक्षित किया जाता है।
         <h6>वित्तपोषण</h6>
         वेयरहाउस उस व्यक्ति की वित्तीय जरूरतों को पूरा करते हैं जो उत्पाद को स्टोर करता है। राष्ट्रीयकृत बैंक भंडारित उत्पादों के लिए जारी गोदाम रसीद की जमानत पर उनके मूल्य के 75 से 80% तक अग्रिम ऋण देते हैं।
         <h6>मूल्य स्थिरीकरण</h6>
         गोदाम किसानों के बीच फसल कटाई के बाद बिक्री करने की प्रवृत्ति की जांच करके कृषि जिंसों के मूल्य स्थिरीकरण में मदद करते हैं।

बाजार बुद्धिमत्ता
गोदाम उन व्यक्तियों को बाजार सूचना की सुविधा भी प्रदान करते हैं जो उनमें अपनी उपज रखते हैं।
        
         </p>
    </div>
     <script>
         document.getElementById("hindi").style.display="none";
        function change_to_english(){
            document.getElementById("english").style.display="block";
            document.getElementById("hindi").style.display="none";
        }
        function change_to_hindi(){
            document.getElementById("english").style.display="none";
            document.getElementById("hindi").style.display="block";
        }
    </script>
</body>
</html>