<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button onclick="change_to_english()">English</button>
    <button onclick="change_to_hindi()">Hindi</button>
    <div id="english">
        <p>
            <h3>Overview</h3>
            Tillage is the agricultural preparation of soil by mechanical agitation of various types, such as digging, stirring, and overturning. Examples of human-powered tilling methods using hand tools include shoveling, picking, mattock work, hoeing, and raking. Examples of draft-animal-powered or mechanized work include ploughing (overturning with moldboards or chiseling with chisel shanks), rototilling, rolling with cultipackers or other rollers, harrowing, and cultivating with cultivator shanks (teeth).

Tillage that is deeper and more thorough is classified as primary, and tillage that is shallower and sometimes more selective of location is secondary. Primary tillage such as ploughing tends to produce a rough surface finish, whereas secondary tillage tends to produce a smoother surface finish, such as that required to make a good seedbed for many crops. Harrowing and rototilling often combine primary and secondary tillage into one operation.

"Tillage" can also mean the land that is tilled. The word "cultivation" has several senses that overlap substantially with those of "tillage". In a general context, both can refer to agriculture. Within agriculture, both can refer to any kind of soil agitation. Additionally, "cultivation" or "cultivating" may refer to an even narrower sense of shallow, selective secondary tillage of row crop fields that kills weeds while sparing the crop plants.
       <h3>History</h3>
       Tilling was first performed via human labor, sometimes involving slaves. Hoofed animals could also be used to till soil by trampling, in addition to pigs, whose natural instincts are to root the ground regularly if allowed to. The wooden plow was then invented.[timeframe?] It could be pulled with human labor, or by mule, ox, elephant, water buffalo, or a similar sturdy animal. Horses are generally unsuitable, though breeds such as the Clydesdale were bred as draft animals.
       
       <h3>types</h3>
       <h5>Primary and secondary tillage-</h5>
       Primary tillage is usually conducted after the last harvest, when the soil is wet enough to allow plowing but also allows good traction. Some soil types can be plowed dry. The objective of primary tillage is to attain a reasonable depth of soft soil, incorporate crop residues, kill weeds, and to aerate the soil. Secondary tillage is any subsequent tillage, to incorporate fertilizers, reduce the soil to a finer tilth, level the surface, or control weeds
       <h5>Reduced tillage</h5>
       Reduced tillage[note 1] leaves between 15 and 30% crop residue cover on the soil or 500 to 1000 pounds per acre (560 to 1100 kg/ha) of small grain residue during the critical erosion period. This may involve the use of a chisel plow, field cultivators, or other implements. See the general comments below to see how they can affect the amount of residue
       <h5>Intensive tillage</h5>
       Intensive tillage[note 1] leaves less than 15% crop residue cover or less than 500 pounds per acre (560 kg/ha) of small grain residue. This type of tillage is often referred to as conventional tillage, but as conservational tillage is now more widely used than intensive tillage (in the United States),[6][7] it is often not appropriate to refer to this type of tillage as conventional. Intensive tillage often involves multiple operations with implements such as a mold board, disk, or chisel plow. After this, a finisher with a harrow, rolling basket, and cutter can be used to prepare the seed bed. There are many variations.
       <h5>Conservation tillage</h5>
       Conservation tillage[note 1] leaves at least 30% of crop residue on the soil surface, or at least 1,000 lb/ac (1,100 kg/ha) of small grain residue on the surface during the critical soil erosion period. This slows water movement, which reduces the amount of soil erosion. Additionally, conservation tillage has been found to benefit predatory arthropods that can enhance pest control.[8] Conservation tillage also benefits farmers by reducing fuel consumption and soil compaction. By reducing the number of times the farmer travels over the field, significant savings in fuel and labor are made.

Conservation tillage is used on over 370 million acres, mostly in South America, Oceania and North America.[9] In most years since 1997, conservation tillage was used in US cropland more than intensive or reduced tillage
        <h3>Effects</h3>
        <h5>Positive</h5>
        1)Loosens and aerates the top layer of soil or horizon A, which facilitates planting the crop.[17]
        2)Helps mix harvest residue, organic matter (humus), and nutrients evenly into the soil.[17]
        3)Mechanically destroys weeds.[17]
        4)Dries the soil before seeding (in wetter climates, tillage aids in keeping the soil drier).[17]
        5)When done in autumn, helps exposed soil crumble over winter through frosting and defrosting, which helps prepare a smooth surface for spring planting.[17]
        6)Can reduce infestations of slugs, cut worms, army worms, and harmful insects as they are attracted by leftover residues from former crops.[18]
        7)Reduces the risk of crop diseases which can be harbored in surface residues
        
        <h3>Alternatives</h3>
        Modern agricultural science has greatly reduced the use of tillage. Crops can be grown for several years without any tillage through the use of herbicides to control weeds, crop varieties that tolerate packed soil, and equipment that can plant seeds or fumigate the soil without really digging it up. This practice, called no-till farming, reduces costs and environmental change by reducing soil erosion and diesel fuel usage
        </p>

    </div>
    
    <div id="hindi">
            <p>
             <h3>अवलोकन</h3>
             जुताई विभिन्न प्रकार के यांत्रिक आंदोलन द्वारा मिट्टी की कृषि तैयारी है, जैसे खुदाई, सरगर्मी और पलटना। हाथ के औजारों का उपयोग करके मानव-संचालित जुताई विधियों के उदाहरणों में फावड़ा उठाना, चुनना, कुदाली का काम, गुड़ाई और रेकिंग शामिल हैं। ड्राफ्ट-एनिमल-पावर्ड या मैकेनाइज्ड वर्क के उदाहरणों में जुताई (मोल्डबोर्ड के साथ पलटना या छेनी टांगों से छेनी करना), रोटोटिलिंग, कल्टीपैकर्स या अन्य रोलर्स के साथ रोलिंग, हैरोइंग और कल्टीवेटर शैंक्स (दांत) के साथ खेती करना शामिल है।

जुताई जो गहरी और अधिक गहन है, उसे प्राथमिक के रूप में वर्गीकृत किया गया है, और जो जुताई छिछली है और कभी-कभी स्थान का अधिक चयन द्वितीयक है। जुताई जैसी प्राथमिक जुताई खुरदरी सतह खत्म करने के लिए होती है, जबकि माध्यमिक जुताई चिकनी सतह खत्म करने के लिए होती है, जैसे कि कई फसलों के लिए एक अच्छा बीज बिस्तर बनाने के लिए आवश्यक है। हैरोइंग और रोटोटिलिंग अक्सर प्राथमिक और द्वितीयक जुताई को एक ऑपरेशन में मिला देते हैं।

"जुताई" का अर्थ उस भूमि से भी हो सकता है जिसे जोता जाता है। शब्द "खेती" के कई अर्थ हैं जो "जुताई" के साथ काफी हद तक ओवरलैप करते हैं। एक सामान्य संदर्भ में, दोनों कृषि का उल्लेख कर सकते हैं। कृषि के भीतर, दोनों किसी भी प्रकार की मिट्टी के आंदोलन का उल्लेख कर सकते हैं। इसके अतिरिक्त, "खेती" या "खेती" उथली, पंक्ति फसल के खेतों की चयनात्मक माध्यमिक जुताई के एक भी संकीर्ण अर्थ को संदर्भित कर सकती है जो फसल के पौधों को बख्शते हुए मातम को मारता है।
        <h3>इतिहास</h3>
        पहले मानव श्रम के माध्यम से जुताई की जाती थी, जिसमें कभी-कभी दास भी शामिल होते थे। सूअरों के अलावा, खुर वाले जानवरों को भी रौंद कर मिट्टी की जुताई के लिए इस्तेमाल किया जा सकता है, जिनकी प्राकृतिक प्रवृत्ति अनुमति देने पर नियमित रूप से जमीन को जड़ने की होती है। लकड़ी के हल का आविष्कार किया गया था। [समय सीमा?] इसे मानव श्रम के साथ खींचा जा सकता था, या खच्चर, बैल, हाथी, जल भैंस, या इसी तरह के एक मजबूत जानवर द्वारा खींचा जा सकता था। घोड़े आम तौर पर अनुपयुक्त होते हैं, हालांकि क्लाइडडेल जैसे नस्लों को मसौदा जानवरों के रूप में पैदा किया गया था।
       
        <h3>प्रकार</h3>
        <h5>प्राथमिक और द्वितीयक जुताई-</h5>
        प्राथमिक जुताई आमतौर पर पिछली फसल के बाद की जाती है, जब मिट्टी इतनी गीली होती है कि जुताई हो जाती है, लेकिन अच्छा कर्षण भी होता है। कुछ मिट्टी के प्रकारों को सुखाया जा सकता है। प्राथमिक जुताई का उद्देश्य नरम मिट्टी की उचित गहराई प्राप्त करना, फसल के अवशेषों को शामिल करना, खरपतवारों को मारना और मिट्टी को हवा देना है। द्वितीयक जुताई किसी भी बाद की जुताई है, उर्वरकों को शामिल करने के लिए, मिट्टी को महीन जुताई तक कम करें, सतह को समतल करें, या खरपतवारों को नियंत्रित करें
        <h5>कम जुताई</h5>
        कम जुताई [नोट 1] मिट्टी पर 15 से 30% फसल अवशेषों के बीच की पत्तियां या 500 से 1000 पाउंड प्रति एकड़ (560 से 1100 किग्रा / हेक्टेयर) छोटे अनाज के अवशेष महत्वपूर्ण क्षरण अवधि के दौरान। इसमें छेनी के हल, खेत में कल्टीवेटर, या अन्य उपकरणों का उपयोग शामिल हो सकता है। नीचे दी गई सामान्य टिप्पणियों को देखें कि वे अवशेषों की मात्रा को कैसे प्रभावित कर सकते हैं
        <h5>गहन जुताई</h5>
        गहन जुताई [नोट 1] 15% से कम फसल अवशेषों को कवर करती है या 500 पाउंड प्रति एकड़ (560 किग्रा / हेक्टेयर) छोटे अनाज अवशेषों से कम छोड़ती है। इस प्रकार की जुताई को अक्सर पारंपरिक जुताई के रूप में संदर्भित किया जाता है, लेकिन पारंपरिक जुताई के रूप में अब सघन जुताई (संयुक्त राज्य में) की तुलना में अधिक व्यापक रूप से उपयोग की जाती है, [6] [7] इस प्रकार के जुताई को संदर्भित करना अक्सर उचित नहीं होता है पारंपरिक। गहन जुताई में अक्सर मोल्ड बोर्ड, डिस्क, या छेनी हल जैसे उपकरणों के साथ कई ऑपरेशन शामिल होते हैं। इसके बाद हैरो, रोलिंग बास्केट और कटर के साथ फिनिशर का उपयोग बीज क्यारी तैयार करने के लिए किया जा सकता है। कई विविधताएँ हैं।
        <h5>संरक्षण जुताई</h5>
        संरक्षण जुताई [नोट 1] मिट्टी की सतह पर कम से कम 30% फसल अवशेष छोड़ती है, या कम से कम 1,000 पौंड/एकड़ (1,100 किग्रा/हेक्टेयर) छोटे अनाज अवशेष सतह पर महत्वपूर्ण मिट्टी के कटाव की अवधि के दौरान छोड़ती है। यह पानी की गति को धीमा कर देता है, जिससे मिट्टी के कटाव की मात्रा कम हो जाती है। इसके अतिरिक्त, संरक्षण जुताई को परभक्षी आर्थ्रोपोडों को लाभ पहुँचाने के लिए पाया गया है जो कीट नियंत्रण को बढ़ा सकते हैं। [8] संरक्षण जुताई भी ईंधन की खपत और मिट्टी के संघनन को कम करके किसानों को लाभान्वित करती है। किसान द्वारा खेत में यात्रा करने की संख्या को कम करके, ईंधन और श्रम में महत्वपूर्ण बचत की जाती है।

संरक्षण जुताई का उपयोग 370 मिलियन एकड़ से अधिक में किया जाता है, ज्यादातर दक्षिण अमेरिका, ओशिनिया और उत्तरी अमेरिका में। [9] 1997 के बाद से अधिकांश वर्षों में, गहन या कम जुताई की तुलना में यूएस क्रॉपलैंड में संरक्षण जुताई का अधिक उपयोग किया गया
         <h3>प्रभाव</h3>
         <h5>सकारात्मक</h5>
         1)मिट्टी या क्षितिज A की ऊपरी परत को ढीला और हवा देता है, जिससे फसल बोने में आसानी होती है। [17]
         2)फसल अवशेषों, कार्बनिक पदार्थ (ह्यूमस) और पोषक तत्वों को समान रूप से मिट्टी में मिलाने में मदद करता है। [17]
         3) यंत्रवत् खरपतवारों को नष्ट करता है। [17]
         4) बोने से पहले मिट्टी को सुखाएं (गीली जलवायु में, जुताई मिट्टी को सूखा रखने में मदद करती है)। [17]
        
         5) जब इसे शरद ऋतु में किया जाता है, तो सर्दियों में फ़्रॉस्टिंग और डीफ़्रॉस्टिंग के माध्यम से उजागर मिट्टी को उखड़ने में मदद मिलती है, जो वसंत रोपण के लिए एक चिकनी सतह तैयार करने में मदद करती है। [17]
        6) स्लग, कट वर्म्स, आर्मी वर्म्स और हानिकारक कीड़ों के संक्रमण को कम कर सकते हैं क्योंकि वे पिछली फसलों के बचे हुए अवशेषों से आकर्षित होते हैं। [18]
         7) फसल रोगों के जोखिम को कम करता है जो सतह के अवशेषों में छिपे हो सकते हैं
        
         <h3>विकल्प</h3>
         आधुनिक कृषि विज्ञान ने जुताई का प्रयोग बहुत कम कर दिया है। खरपतवारों को नियंत्रित करने के लिए शाकनाशियों, पैक्ड मिट्टी को सहन करने वाली फसल की किस्मों, और ऐसे उपकरण जो बीज बो सकते हैं या मिट्टी को वास्तव में खोदे बिना फ्यूमिगेट कर सकते हैं, के उपयोग के माध्यम से बिना किसी जुताई के कई वर्षों तक फसलें उगाई जा सकती हैं। नो-टिल फ़ार्मिंग कहलाने वाली यह प्रथा मिट्टी के कटाव और डीजल ईंधन के उपयोग को कम करके लागत और पर्यावरण परिवर्तन को कम करती है
         </p>
    </div>
    <script>
        document.getElementById("hindi").style.display="none";
        function change_to_english(){
            document.getElementById("english").style.display="block";
            document.getElementById("hindi").style.display="none";
        }
        function change_to_hindi(){
            document.getElementById("english").style.display="none";
            document.getElementById("hindi").style.display="block";

        }
    </script>
</body>
</html>